/* font */


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');


  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Inter', sans-serif;
  }
  .navbar{
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
    /* font-size: 400; */
  }

  nav ul li{
    display: inline-block;
    margin-right: 20px;
    
  }
  a{
    text-decoration: none;
    color:white;
  }
.container{
    margin: auto;
}

#h1{
  font-family: Inter;
font-size: 50px;
font-weight: 400;
line-height: 97px;
letter-spacing: 0em;
width: 250px;
height: 90px;
margin-top: 15px;
margin-left: 45px;
}

#para{
  margin-left: 45px;
  font-weight: 400;
  font-size:20px;
Line height
36.31px
}

#login-btn{
  margin-left: 45px;
  background-color: black;

  color: white;
  width: 150px;
  height:40px;
  top:334px;
  left:67px;

}

#signup-btn{
  width: 150px;
height: 40px;
top: 334px;
left: 305px;
margin-left: 25px;
}

img{
  position: absolute;
Width:900px;
Position:absolute;
Right:0;
Top:70px;
}
